.cardsHolder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 4em;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.minusFour {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 4em;
}
